<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% trans %}Assignaments{% endtrans %}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Users{% endtrans %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('mb_user_index') }}">{% trans %}List users{% endtrans %}</a></li>
            <li><a href="{{ path('mb_user_add') }}">{% trans %}Add user{% endtrans %}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Tasks{% endtrans %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('mb_task_index') }}">{% trans %}List tasks{% endtrans %}</a></li>
            <li><a href="{{ path('mb_task_add') }}">{% trans %}Add task{% endtrans %}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>